# Created by GitHub Copilot
# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties

# IDE files
.idea/
*.iml
.DS_Store

# Keystore files
*.jks
*.keystore

# Log files
*.log

# Google services
google-services.json

# Crashlytics
com_crashlytics_export_strings.xml

