# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# IDEA/Android Studio
.idea/
*.iml
.cxx/
local.properties

# Logs
*.log

# Android
captures/
.externalNativeBuild/
outputs/

# Kotlin/Java
*.class

# Keystore files
*.keystore
*.jks

# Misc
.DS_Store
Thumbs.db

